.cards{
  justify-content: space-between;
  display: flex;
  background-color: white;
}
.card{
  border-radius: 4px;
  border: 2px solid lightgray;
  box-shadow: 0 0 3 gray;
  text-align: center;
  padding: 20px;
  margin-right: 30px;
}
.card:hover{
  box-shadow:0 0 20px rgb(44, 42, 42);
  color:gray;
}

.card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
}
